
body
{
	text-align: center;
	background-color: #555566;
	font-family: "Courier New", Courier, monospace;
	width: 800px;
	margin: auto;
	padding: 10px;
}

h1
{
	color: white;
}

.blogs-section
{
	display: inline-block;
	position : relative;
	width: 650px;
	float: left;
}

.blogs-controls
{
	display: inline-block;
	float: right;
	width: 150px;
	margin-top: 20px;
}

.blog-control
{
	text-align: left;
	display:inline-block;
	min-width: 50px;
	width: 150px;
	padding:5px 10px;
	color: white;
	text-decoration:none;
}

.blog
{
	border-radius: 0px 10px 0px 10px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: left;
	padding: 20px;
	margin: 20px;
}

.blog-header
{
	font-weight: 900;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #47476b;
	text-shadow: 2px 2px #AAAAAA;
}

.blog-content
{
	padding: 0px 0px 0px 20px;
}

.author
{
	text-align: right;
}

.date
{
	text-align: right;
	padding: 0px;
}

.pform
{
    font-family: "Courier New", Courier, monospace;
    text-align: left;
    
}
